<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="t1"
		class="com.tutorial.spring.core_01.applicationContextContainer._06MultipleCfgFiles.TestBean">
		<property name="msg">
			<value>Hello friends Good Mng. From First Context:)</value>
		</property>
	</bean>

</beans>