<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="date" class="java.util.Date">
		<property name="year">
			<value>85</value>
		</property>
		<property name="month">
			<value>10</value> <!--month range is: 0 to 11 -->
		</property>
		<property name="date">
			<value>19</value>
		</property>
	</bean>

	<bean id="demo"
		class="com.tutorial.spring.core_01.iocContainer._04PreDefinedBean.DemoInterImpl">
		<!-- <property name="message">
			<value>Njoy Spring Programming :)</value>
		</property> -->
		
		<property name="message" value="Enjoy Programming"/>

		<property name="dt">
			<ref bean="date" />
		</property>

	</bean>
</beans>