# Created by .ignore support plugin (hsz.mobi)
### Gradle template
build/

# Ignore Gradle GUI config
gradle-app.setting

.idea
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


