<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="classpath:com/tutorial/spring/dao_02/DataSource.xml"/>

	<bean id="namedTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">

		<constructor-arg>
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>
	
	<bean id="sel" class="com.tutorial.spring.dao_02._04NamedParameter.SelectImple">
		<property name="nt">
			<ref bean="namedTemplate" />
		</property>
	</bean>
</beans>