<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id = "db" class = "com.tutorial.spring.core_01.applicationContextContainer._03InterfaceInjection.DemoBean" scope = "singleton">
		<property name="msg">
			<value>Hi Friends... Gmg. Njoy Spring concepts n coding. :)</value>
		</property>
	</bean>
	<bean id = "dt" class = "java.util.Date" scope = "singleton"/>
	<bean id = "dt1" class = "java.util.Date"/> 
</beans>