<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id = "ds" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		
		<property name="url">
		<value>jdbc:oracle:thin:@localhost:1521:XE</value>
		</property>
		
		<property name="username">
			<value>HR</value>
		</property>
		
		<property name="password">
		<value>HR</value>
		</property>
	</bean>
	
	<bean id = "mySessionFactory" class = "org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref = "ds"/>
		<property name = "configLocation">
			<value>hibernate.cfg.xml</value>
		</property>
	</bean>
	
	
	<bean id = "template" class = "org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg>
			<ref bean = "mySessionFactory"/>
		</constructor-arg>
	</bean>
	
	
	<bean id = "d1" class = "DemoClient">
		<property name="ht" ref = "template"/>
	</bean>

</beans>

