<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd"> 

<beans>
	  <bean  id="dat"   class="java.util.Date">
		<property  name="year">
			<value>85</value>
		</property>

		<property  name="month">
			<value>10</value>
		</property>

		<property  name="date">
			<value>19</value>
		</property>
      </bean>


      <bean  id="tbean"   class="com.tutorial.spring.core_01.iocContainer._05UserDefinedBean.TestBean" >
		<property  name="message">
			<value>Hello friends.... Have a joyful day :)</value>
		</property>
      </bean>

      <bean  id="demo"  class="com.tutorial.spring.core_01.iocContainer._05UserDefinedBean.DemoInterImpl">
		<property  name="age" value="26"/>
		<property  name="dt">
			<ref bean = "dat"/>
		</property>
		<property  name="tb" ref = "tbean"/>
      </bean>


</beans>