<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


      <bean  id="demo"   class="com.tutorial.spring.core_01.iocContainer._08ConstructorInjection.Demo">
		<constructor-arg>
			<value>10</value>
		</constructor-arg>
		
		<constructor-arg>
			<value>Hello</value>
		</constructor-arg>
		
      </bean>
</beans>